{% extends 'base.html' %}

{% block title %}Home - Dines.dev{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-content">
    <h3>hello , im </h3>
    <h1>Dinesh k</h1>
    <h2>Python Full Stack Developer</h2>
    <p>I build web applications with Python and Django. web development from scratch to fullstack webapp ". fully customized design and develop and responsive ui/ux and seo optimized.  </p>
    <div class="hero-btn">
        <a href="#projects" class="btn-primary">View Projects</a>
        <a href="#Download resume" class="btn-secondary">Download Resume</a>
    </div>
    </div>
</section>
<section class="about" id="about">
    <div class="about-container">
        <div class="about-text">
            <h2>About Me</h2>
            <p>I Am Dinesh k , An Electronics And Communication Engineer passionate about python fullstack development.</p>
            <p>i build modern web applications using django,html,css,js and sql with a highly focus on user experience and performance.</p>
            <p> my goal is to become a professional python fullstack developer for develop scalable products that solve real-world problems and create web applications that are not only functional but also visually appealing and user-friendly.</p>
        </div>
    </div>
</section>
<section class="skills" id="skills">

    <h2>Skills</h2>

    <div class="skills-grid">

        <div class="skill-card">Python</div>
        <div class="skill-card">Django</div>
        <div class="skill-card">HTML5</div>
        <div class="skill-card">CSS3</div>
        <div class="skill-card">JavaScript</div>
        <div class="skill-card">Git & GitHub</div>
        <div class="skill-card">SQL</div>
        <div class="skill-card">REST API</div>

    </div>

</section>
<section class="projects" id="projects">

    <h2>Projects</h2>

    <div class="project-grid">

        {% for project in projects %}

        <div class="project-card">

            <img src="{{ project.image.url }}" alt="">

            <h3>{{ project.title }}</h3>

            <p>{{ project.description }}</p>

            <a href="{{ project.github_link }}">GitHub</a>

        </div>

        {% empty %}

        <h3>No Projects Added Yet</h3>

        {% endfor %}

    </div>

</section>
{% endblock %}