<!DOCTYPE html>
<html>

<head>

<title>Server Error</title>

<style>

body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#0f172a;
    color:white;
    font-family:Arial;
}

.box{
    text-align:center;
}

h1{
    font-size:100px;
    color:#38bdf8;
}

a{
    color:#38bdf8;
    text-decoration:none;
}

</style>

</head>

<body>

<div class="box">

<h1>500</h1>

<p>Something went wrong.</p>

<a href="/">
Go Home
</a>

</div>

</body>

</html>