{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<meta name="description" content="Dinesh K - Python Full Stack Developer Portfolio. Django, Python, HTML, CSS, JavaScript, SQL and REST API projects.">
<meta name="keywords" content="Dinesh K, Python Developer, Django Developer, Full Stack Developer, Portfolio, Web Developer">
<meta name="author" content="Dinesh K">

<meta property="og:title" content="Dinesh K | Python Full Stack Developer">
<meta property="og:description" content="Professional portfolio website built using Django and Python.">
<meta property="og:type" content="website">
<meta property="og:url" content="https://your-domain.com">
<meta property="og:image" content="https://your-domain.com/static/images/profile.jpg">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Dinesh K Portfolio">
<meta name="twitter:description" content="Python Full Stack Developer">

    <title>{% block title %}Dinesh K | Python Full Stack Developer{% endblock %}</title>
    <link rel="stylesheet"href="https://unpkg.com/aos@2.3.4/dist/aos.css"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="canonical" href="https://your-domain.com">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <nav class="navbar">

    <div class="logo">
        dinesh.dev
    </div>

    <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
    </ul>

    <button id="theme-toggle">
        🌙
    </button>

    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

</nav>
    {% block content %}
    {% endblock %}
<script src="{% static 'js/script.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>AOS.init({duration:1000,once:true});</script>
</body>
</html>